body {
  background-color: #f0f0f0;
  position: static;
  padding: 0px;
  margin: 0px;
  font-family: "Calibri";
  font-weight: 100;
}

canvas{
  position: absolute;
  left: 0px;
  top: 0px;
}

/* color: #ddd - #ccc - #bbb */
button:hover {
  background-color: #ccc;
}

button:active {
  background-color: #bbb;
}

button, select, input[type="color"] {
  background-color: #ddd;
  border: none;
  padding: 2px 15px;
  font-size: 16px;
  font-family: "Calibri";
  font-weight: 100;
}

select::after{
  background-color: #ddd;
}

/* SideNav */

#sidenav{
  width: 0px;
  height: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 2;
  transition: 0.5s;
  background-color: #f0f0f0;
  top: 0px;
  left: 0px;
}

.sidenav_cont_title, .sidenav_cont{
  width: 230px;
}

.sidenav_cont_title{
  height: 32px;
}

.sidenav_cont{
  height: calc(100% - 32px); /* css3 */
  overflow-x: hidden;
}

.sidenav_cont_title span{
  margin: 5px 10px;
  font-size: 16px;
}

.sidenav_cont_title .text{
  font-weight: bold;
  float: left;
}

#sidenav_close_btn{
  float: right;
  background-color: #f0f0f0;
  padding: 0px;
  margin: 2px;
  padding: 3px 8px;
}

#sidenav_close_btn:hover {
  background-color: #ccc;
}

#sidenav_close_btn:active {
  background-color: #bbb;
}

.sidenav_cont button, .sidenav_cont select, .sidenav_cont input, .sidenav_cont span{
  margin: 5px 10px;
}

.sidenav_cont span{
  width: 210px;
  font-size: 14px;
}

.sidenav_cont  > span, .sidenav_cont > button, .sidenav_cont > select, .sidenav_cont > option{
  display: block;
}

#sidenav_back{
  width: 0%;
  height: 100%;
  position: fixed;
  background-color: #000;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.5s ease-in-out;
  top: 0px;
  left: 0px;
}

.sidenav_shadow {
  -webkit-box-shadow: 0px 0px 20px 5px #000;
  -moz-box-shadow: 0px 0px 20px 5px #000;
  box-shadow: 0px 0px 20px 5px #000;
}

.unredo_block {
  width: 230px;
}

.unredo_block button{
  display: inline;
}

.sidenav_cont > .unredo_block > button > span{
  margin: 0px;
}

.draw_size_block{
  height: 64px;
  width: 100%;
}

.draw_size_block > .ib40{
  width: 39%;
  display: inline-block;
}

.draw_size_block > .ib60{
  width: 59%;
  display: inline-block;
}

.draw_size_block > div > span{
   width: 25%;
   display: inline-block;
 }

.draw_size_block > div > input{
  width: 35%;
  display: inline-block;
}

.center_block{
  position: relative;
}

.center_block > button{
  position: absolute;
  margin-top: -50%;
  transform: translate(0, 50%);
}

/* View */

#canvas0{ z-index: 0; }
#canvas1{ z-index: 1; }

#view{
  position: relative;
  margin: 5px;

  border: 1px solid #ddd;

  width: 300px;
  height: 300px;

  float: left;
}

/* Tool */

#tool{
  margin: 5px 5px 0px 5px;
  width: auto;
  height: 29px;
}

#tool button{
  float: left;
  margin-right: 5px;
  height: 100%;
  width: 100px;
  border: solid #ddd 2px;
}

#tool button:hover {
  -webkit-animation: tool_btn_hover_anim 0.5s linear;
  animation: tool_btn_hover_anim 0.5s linear;

  border: solid #ccc 2px;
}

#tool button:active {
  background-color: #bbb;
  border: solid #bbb 2px;
}

#tool button:last-child{
  margin-right: 0px;
}

#tool_meniu_btn{
  cursor: pointer;
  float: left;
}

/* Animation */
@-webkit-keyframes tool_btn_hover_anim {
    0% {
      border-top-color: #ccc;
      border-right-color: #ccc;
      border-bottom-color: #ccc;
      border-left-color: #ccc;
    }
    12.5% {
      border-top-color: #000;
      border-right-color: #ccc;
      border-bottom-color: #ccc;
      border-left-color: #ccc;
    }
    25% {
      border-top-color: #000;
      border-right-color: #000;
      border-bottom-color: #ccc;
      border-left-color: #ccc;
    }
    37.5% {
      border-top-color: #000;
      border-right-color: #000;
      border-bottom-color: #000;
      border-left-color: #ccc;
    }
    50% {
      border-top-color: #000;
      border-right-color: #000;
      border-bottom-color: #000;
      border-left-color: #000;
    }
    62.5% {
      border-top-color: #ccc;
      border-right-color: #000;
      border-bottom-color: #000;
      border-left-color: #000;
    }
    75% {
      border-top-color: #ccc;
      border-right-color: #ccc;
      border-bottom-color: #000;
      border-left-color: #000;
    }
    87.2% {
      border-top-color: #ccc;
      border-right-color: #ccc;
      border-bottom-color: #ccc;
      border-left-color: #000;
    }
    100% {
      border-top-color: #ccc;
      border-right-color: #ccc;
      border-bottom-color: #ccc;
      border-left-color: #ccc;
    }
}

@keyframes tool_btn_hover_anim {
    0% {
      border-top-color: #ccc;
      border-right-color: #ccc;
      border-bottom-color: #ccc;
      border-left-color: #ccc;
    }
    12.5% {
      border-top-color: #000;
      border-right-color: #ccc;
      border-bottom-color: #ccc;
      border-left-color: #ccc;
    }
    25% {
      border-top-color: #000;
      border-right-color: #000;
      border-bottom-color: #ccc;
      border-left-color: #ccc;
    }
    37.5% {
      border-top-color: #000;
      border-right-color: #000;
      border-bottom-color: #000;
      border-left-color: #ccc;
    }
    50% {
      border-top-color: #000;
      border-right-color: #000;
      border-bottom-color: #000;
      border-left-color: #000;
    }
    62.5% {
      border-top-color: #ccc;
      border-right-color: #000;
      border-bottom-color: #000;
      border-left-color: #000;
    }
    75% {
      border-top-color: #ccc;
      border-right-color: #ccc;
      border-bottom-color: #000;
      border-left-color: #000;
    }
    87.2% {
      border-top-color: #ccc;
      border-right-color: #ccc;
      border-bottom-color: #ccc;
      border-left-color: #000;
    }
    100% {
      border-top-color: #ccc;
      border-right-color: #ccc;
      border-bottom-color: #ccc;
      border-left-color: #ccc;
    }
}

/* Media */
@media (max-width: 360px) {
  #tool button{
    width: 31%;
  }
}

/* Too much for simple thing */
