body {
  background-color: #f0f0f0;
  position: static;
  padding: 0px;
  margin: 0px;
  font-family: "Calibri";
}

canvas{
  position: absolute;
  left: 0px;
  top: 0px;
}

/* color: #ddd - #ccc - #bbb */
button{
  background-color: #ddd;
  border: none;
  padding: 3px 15px;
  font-size: 14px;
}

button:hover {
  background-color: #ccc;
}

button:active {
  background-color: #bbb;
}

select{
  background-color: #ddd;
  border: none;
  padding: 3px 15px;
  font-size: 14px;
}

select::after{
  background-color: #ddd;
}

input[type="color"]{
  background-color: #ddd;
  border: none;
  padding: 3px 15px;
  font-size: 14px;
}

#sidenav{
  width: 0px;
  height: 100%;
  overflow-x: hidden;
  position: fixed;
  z-index: 2;
  transition: 0.5s;
  background-color: #f0f0f0;
  top: 0px;
  left: 0px;
}

#sidenav button, #sidenav select, #sidenav input, #sidenav span{
  margin: 5px 10px;
}

#sidenav span{
  width: 210px;
  font-size: 14px;
}

#sidenav span, #sidenav button, #sidenav select, #sidenav option{
  display: block;
}

#sidenav_back{
  width: 0%;
  height: 100%;
  position: fixed;
  background-color: #000;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.5s ease-in-out;
  top: 0px;
  left: 0px;
}

.sidenav_shadow {
  -webkit-box-shadow: 0px 0px 20px 5px #000;
  -moz-box-shadow: 0px 0px 20px 5px #000;
  box-shadow: 0px 0px 20px 5px #000;
}

#canvas0{ z-index: 0; }
#canvas1{ z-index: 1; }

#view{
  position: relative;
  margin: 5px;

  border: 1px solid #0f0f0f;

  width: 300px;
  height: 500px;

  float: left;
}

#tool{
  margin: 5px;
  width: auto;
  height: 29px;
}

#tool button{
  float: left;
  margin-right: 10px;
  height: 100%;
  width: 100px;
  border: solid #ddd 2px;
}

#tool button:hover {
  -webkit-animation: tool_btn_hover_anim 0.5s linear;
  animation: tool_btn_hover_anim 0.5s linear;

  border: solid #ccc 2px;
}

#tool button:active {
  background-color: #bbb;
  border: solid #bbb 2px;
}

#tool button:last-child{
  margin-right: 0px;
}

#tool_meniu_btn{
  cursor: pointer;
  float: left;
}

/* Animation */
@-webkit-keyframes tool_btn_hover_anim {
    0% {
      border-top-color: #ccc;
      border-right-color: #ccc;
      border-bottom-color: #ccc;
      border-left-color: #ccc;
    }
    12.5% {
      border-top-color: #000;
      border-right-color: #ccc;
      border-bottom-color: #ccc;
      border-left-color: #ccc;
    }
    25% {
      border-top-color: #000;
      border-right-color: #000;
      border-bottom-color: #ccc;
      border-left-color: #ccc;
    }
    37.5% {
      border-top-color: #000;
      border-right-color: #000;
      border-bottom-color: #000;
      border-left-color: #ccc;
    }
    50% {
      border-top-color: #000;
      border-right-color: #000;
      border-bottom-color: #000;
      border-left-color: #000;
    }
    62.5% {
      border-top-color: #ccc;
      border-right-color: #000;
      border-bottom-color: #000;
      border-left-color: #000;
    }
    75% {
      border-top-color: #ccc;
      border-right-color: #ccc;
      border-bottom-color: #000;
      border-left-color: #000;
    }
    87.2% {
      border-top-color: #ccc;
      border-right-color: #ccc;
      border-bottom-color: #ccc;
      border-left-color: #000;
    }
    100% {
      border-top-color: #ccc;
      border-right-color: #ccc;
      border-bottom-color: #ccc;
      border-left-color: #ccc;
    }
}

@keyframes tool_btn_hover_anim {
    0% {
      border-top-color: #ccc;
      border-right-color: #ccc;
      border-bottom-color: #ccc;
      border-left-color: #ccc;
    }
    12.5% {
      border-top-color: #000;
      border-right-color: #ccc;
      border-bottom-color: #ccc;
      border-left-color: #ccc;
    }
    25% {
      border-top-color: #000;
      border-right-color: #000;
      border-bottom-color: #ccc;
      border-left-color: #ccc;
    }
    37.5% {
      border-top-color: #000;
      border-right-color: #000;
      border-bottom-color: #000;
      border-left-color: #ccc;
    }
    50% {
      border-top-color: #000;
      border-right-color: #000;
      border-bottom-color: #000;
      border-left-color: #000;
    }
    62.5% {
      border-top-color: #ccc;
      border-right-color: #000;
      border-bottom-color: #000;
      border-left-color: #000;
    }
    75% {
      border-top-color: #ccc;
      border-right-color: #ccc;
      border-bottom-color: #000;
      border-left-color: #000;
    }
    87.2% {
      border-top-color: #ccc;
      border-right-color: #ccc;
      border-bottom-color: #ccc;
      border-left-color: #000;
    }
    100% {
      border-top-color: #ccc;
      border-right-color: #ccc;
      border-bottom-color: #ccc;
      border-left-color: #ccc;
    }
}

/* Media */
@media (max-width: 360px) {
  #tool button{
    width: 31%;
  }
}
